[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/BIBHAVESH-EK
[access "refs/for/refs/*"]
	read = group user/BIBHAVESH-EK
	push = group user/BIBHAVESH-EK
	label-Code-Review = -2..+2 group user/BIBHAVESH-EK
	label-Verified = -1..+1 group user/BIBHAVESH-EK
	rebase = group user/BIBHAVESH-EK
	removeReviewer = group user/BIBHAVESH-EK
	submit = group user/BIBHAVESH-EK
[access "refs/heads/*"]
	read = group user/BIBHAVESH-EK
	create = group user/BIBHAVESH-EK
	push = +force group user/BIBHAVESH-EK
	pushMerge = group user/BIBHAVESH-EK
[access "refs/tags/*"]
	push = group user/BIBHAVESH-EK
	push = +force group user/BIBHAVESH-EK
